/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos del formulario */
.formulario {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.formulario h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario pre {
    margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.formulario input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #555;
}

.formulario div {
    margin-top: 10px;
    color: #00ff5e;
}
