/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}
  
/* Estilos de navegación */
nav {
    background-color: #222;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #444;
}

/* Estilos del título principal */
h1 {
    text-align: center;
    margin: 50px;
    font-size: 40px;
}

/* Efecto 3D */
h1 {
    position: relative;
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #ff0000;
    overflow: hidden;
    transform: translateZ(-50px);
    animation: animate 5s linear infinite;
}

h1::before {
    left: -2px;
}

h1::after {
    left: 2px;
}


@keyframes animate {
    0% {
        transform: translateZ(-50px) rotateY(0deg);
    }
    100% {
        transform: translateZ(-50px) rotateY(360deg);
    }
}

/* Estilos de la imagen 3D */
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(360deg);
    }
}
