{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/Logopag/test2.jpg' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  <script src="{% static 'js/app.js' %}" async></script>
  <title>CineMac</title>
  <link
    href="{% static 'https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap' %}"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="contenedor_nav">
      <h2 class="logotipo">CineMac</h2>
      <nav>
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'cartelera' %}" class="activo">Cartelera</a>
        <a href="{% url 'preventas' %}">Preventas</a>
        <a href="{% url 'mas_visto' %}">Lo Más Visto</a>
        <a href="{% url 'login' %}">Cerrar Sesión</a>
      </nav>
    </div>
  </header>
  <section class="contenedor">
    <!-- Contenedor de elementos -->
    <div class="contenedor-items">
      {% for n in peliculas %}
      <div class="item">
        <span class="titulo-item">{{ n.titulo }}</span>
        <img src="{{ MEDIA_URL }}{{ n.imagen.url }}" alt="" class="img-item">
        <span class="precio-item">${{ n.precio }}</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>
      {% endfor %}







      <div class="item">
        <span class="titulo-item">ELEMENTOS</span>
        <img src="{% static 'img/Cartelera/elementos.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$5.300</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Leah Lewis, Mamoudou Athie, Ronnie Del Carmen</p> <br>
          <p>Directores: Peter Sohn</p> <br>
          <p>Sinopsis: ELEMENTOS es el nuevo largometraje original de Disney y Pixar ambientado en Ciudad. Elementos, en donde conviven residentes de fuego, agua, tierra y aire. La historia presenta a Ember, una joven fogosa, inteligente y con un gran sentido del humor, cuya amistad con Wade, un joven divertido, sentimental y que se deja llevar por la corriente, pone en tela de juicio sus convicciones con relación al mundo en el que viven y a la persona que ella quiere ser.</p> <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>

      <div class="item">
        <span class="titulo-item">FLASH</span>
        <img src="{% static 'img/Cartelera/flash.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$6.000</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Michael Keaton, Ezra Miller, Ben Affleck, Kiersey Clemons </p> <br>
          <p>Directores: Andy Muschietti </p> <br>
          <p>Sinopsis: Los mundos chocan en " Flash" cuando Barry utiliza sus superpoderes para viajar en el tiempo con el fin de cambiar los acontecimientos del pasado. Pero cuando su intento de salvar a su familia altera inadvertidamente el futuro, Barry queda atrapado en una realidad en la que el General Zod ha regresado, amenazando con la aniquilación, y no hay superhéroes a quien recurrir. A menos que Barry consiga sacar de su retiro a un Batman muy diferente y rescatar a un kriptoniano encarcelado... aunque no sea el que está buscando. En última instancia, para salvar el mundo en el que se encuentra y volver al futuro que conoce, la única esperanza de Barry es correr por su vida. Pero, ¿bastará con hacer el sacrificio definitivo para reiniciar el universo? </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>

      <div class="item">
        <span class="titulo-item">GUARDIANES DE LA GALAXIA VOL.3</span>
        <img src="{% static 'img/Cartelera/guardianes.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$4.900</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Dave Bautista, Chris Pratt, Zoe Saldana </p> <br>
          <p>Directores: James Gunn </p> <br>
          <p>Sinopsis: En GUARDIANES DE LA GALAXIA VOL. 3 de Marvel Studios, la querida banda de Guardianes se instala en Knowhere. Pero sus vidas no tardan en verse alteradas por los ecos del turbulento pasado de Rocket. Peter Quill, aún conmocionado por la pérdida de Gamora, debe reunir a su equipo en una peligrosa misión para salvar la vida de Rocket, una misión que, si no se completa con éxito, podría muy posiblemente conducir al final de los Guardianes tal y como los conocemos. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>


      <div class="item">
        <span class="titulo-item">INDIANA JONES Y EL DIAL DEL DESTINO</span>
        <img src="{% static 'img/Cartelera/INDIANA.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$6.000</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Boyd Holbrook, Harrison Ford, Mads Mikkelsen </p> <br>
          <p>Directores: James Mangold </p> <br>
          <p>Sinopsis: Harrison Ford regresa en el papel del legendario héroe arqueólogo para esta quinta entrega de la icónica franquicia. Junto a Ford actúan Phoebe Waller-Bridge (Fleabag), Antonio Banderas (Dolor y gloria), John Rhys-Davies (Indiana Jones y los cazadores del arca perdida), Shaunette Renee Wilson (PANTERA NEGRA), Thomas Kretschmann (Das Boot), Toby Jones (Jurassic World: El reino caído), Boyd Holbrook (LOGAN), Olivier Richters (BLACK WIDOW), Ethann Isidore (Mortel) y Mads Mikkelsen (Animales fantásticos: Los secretos de Dumbledore). Dirigida por James Mangold (CONTRA LO IMPOSIBLE, LOGAN), la película está producida por Kathleen Kennedy, Frank Marshall y Simon Emanuel, con Steven Spielberg y George Lucas como productores ejecutivos. John Williams, quien ha puesto música a todas las aventuras de Indy desde la original Indiana Jones y los cazadores del arca perdida de 1981, vuelve a componer la banda sonora. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>

      <div class="item">
        <span class="titulo-item">KRAKENS Y SIRENAS: CONOCE A LOS GILLMAN</span>
        <img src="{% static 'img/Cartelera/KRAKENS.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$6.000</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Directores: Kirk DeMicco </p> <br>
          <p>Sinopsis: La dulce y tímida Ruby Gillman de 16 años, está desesperada por encajar en la escuela Oceanside High, pero la mayoría de las veces se siente invisible. Ruby es la tutora de matemáticas de su crush, que es un chico skater que sólo parece admirarla por sus fractales, y se le impide salir con los chicos más cool de la playa porque su supermamá sobreprotectora, le ha prohibido a Ruby meterse en el agua. Pero cuando rompe la regla #1 de su madre, Ruby descubrirá que es descendiente directa de las reinas guerreras Kraken y está destinada a heredar el trono de su abuela, la Reina Guerrera de los Siete Mares. Los Kraken han jurado proteger los océanos del mundo contra las sirenas vanidosas y sedientas de poder que llevan siglos luchando entre sí. Hay un gran problema con eso: la hermosa y popular chica nueva de la escuela, Chelsea resulta ser una sirena. Sin embargo, Ruby tendrá que aceptar quién es y hacer lo que sea para proteger a los que más quiere. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>


      <div class="item">
        <span class="titulo-item">LA NOCHE DEL DEMONIO: LA PUERTA ROJA</span>
        <img src="{% static 'img/Cartelera/lanochedeldemonio.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$6.300</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Patrick Wilson, Rose Byrne, Ty Simpkins, Andrew Astor </p> <br>
          <p>Directores: Patrick Wilson </p> <br>
          <p>Sinopsis: En La Noche del Demonio: La puerta roja, el reparto original de la franquicia de terror regresa para el capítulo final de la terrorífica saga de la familia Lambert. Para acabar con sus demonios de una vez por todas, Josh (Patrick Wilson) y un Dalton en edad universitaria (Ty Simpkins) deben adentrarse más que nunca en El Más Allá, enfrentándose al oscuro pasado de su familia y a una serie de nuevos y más horripilantes temores que acechan tras la puerta roja. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>


      <div class="item">
        <span class="titulo-item">LA SIRENITA</span>
        <img src="{% static 'img/Cartelera/sinegrita.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$5.000</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Halle Bailey, Jonah Hauer-King, Melissa McCarthy </p> <br>
          <p>Directores: Rob Marshall </p> <br>
          <p>Sinopsis: LA SIRENITA es la querida historia de Ariel, una sirena joven y apasionada con ansias de aventuras. Ella es la más joven y rebelde de las hijas del rey Tritón, y sueña con descubrir el mundo más allá del mar. Mientras visita la superficie, se enamora del distinguido príncipe Eric, y aunque las sirenas tienen prohibido relacionarse con los humanos, Ariel debe seguir a su corazón. Así es como hace un trato con la malvada bruja del mar, Úrsula, que le da la oportunidad de experimentar la vida sobre la tierra, pero finalmente pone su vida, y la corona de su padre, en peligro. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>


      <div class="item">
        <span class="titulo-item">RAPIDOS Y FURIOSOS X</span>
        <img src="{% static 'img/Cartelera/familia.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$5.000</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Jordana Brewster, Michelle Rodriguez, Vin Diesel </p> <br>
          <p>Directores: Louis Leterrier </p> <br>
          <p>Sinopsis: La décima película de la saga Rápidos y Furiosos, es el capítulo final de una de las franquicias más populares y queridas del cine, ahora en su tercera década y continuando con el mismo elenco y personajes que cuando comenzó. A través de varias misiones y contra lo imposible, Dom Toretto (Vin Diesel) y su familia han sido más astutos y más rápidos que todos los enemigos que se le han cruzado en su camino. Ahora se enfrentan a su enemigo más letal: una amenaza aterradora que surge de las sombras del pasado que está alimentado de una venganza sangrienta, y está decidido a destruir a su familia y destruir todo, y a cualquier persona, A los que Dom ama. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>


      <div class="item">
        <span class="titulo-item">SPIDER-MAN A TRAVES DEL SPIDER-VERSO</span>
        <img src="{% static 'img/Cartelera/spiderman.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$5.600</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Shameik Moore, Hailee Steinfeld, Oscar Isaac </p> <br>
          <p>Directores: Kemp Powers, Justin K. Thompson, Joaquim Dos Santos </p> <br>
          <p>Sinopsis: Miles Morales regresa en la próxima entrega de la saga ganadora del Oscar® Spider-Verso, una aventura épica que transportará al amigable vecino de Brooklyn Spider-Man a través del Multiverso para unir fuerzas con Gwen Stacy y un nuevo equipo de Spider-Personas, y enfrentarse así a un villano mucho más poderoso que cualquier cosa que hayan conocido antes. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>


      <div class="item">
        <span class="titulo-item">TRANSFORMERS: EL DESPERTAR DE LAS BESTIAS</span>
        <img src="{% static 'img/Cartelera/transformers.jpg' %}" alt="" class="img-item">
        <span class="precio-item">$6.000</span>
        <button class="boton-item">Agregar al Carrito</button>
        <div class="contenido-adicional" style="display: none;">
          <!-- Contenido adicional oculto -->
          <p>Actores: Peter Cullen </p> <br>
          <p>Directores: Steven Caple Jr. </p> <br>
          <p>Sinopsis: Volviendo a la acción y el espectáculo que han cautivado a los cinéfilos de todo el mundo, Transformers: El Despertar De Las Bestias regresa con una aventura trotamundos en la década de 1990 con los Autobots e introducirá una nueva generación de Transformers: los Maximals, quienes se unirán a la batalla que está ocurriendo en la tierra entre Autobots y Decepticons. </p> <br>
          <br>
        </div>
        <button class="ver-mas" onclick="mostrarContenido(this)">Ver más</button>
        <button class="ver-menos" onclick="ocultarContenido(this)" style="display: none;">Ver menos</button>
      </div>


    </div>
    <!-- Carrito de Compras -->
    <div class="carrito" id="carrito">
      <div class="header-carrito">
        <h2>Tu Carrito</h2>
      </div>

      <div class="carrito-items">

      </div>
      <div class="carrito-total">
        <div class="fila">
          <strong>Tu Total</strong>
          <span class="carrito-precio-total">
            $120.000,00
          </span>
        </div>

        <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
      </div>
    </div>
  </section>

  <footer class="Piedepagina">
    <div class="grupo1">
      <div class="box">
        <figure>
          <a href="{% url 'index' %}">
            <img src="{% static 'img/Logopag/Logo.png' %}" alt="Logo de la pagina">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Somos una empresa de cine que recién está surgiendo</p>
        <p>Nuestro objetivo es dar a las personas las mejores películas con mayor calidad </p>
      </div>
      <div class="box">
        <h2>SÍGUENOS</h2>
        <div class="red-social">
          <a href="https://www.instagram.com/" class="bi bi-instagram" target="_blank">
            <img src="{% static 'img/Redes_Sociales/instagramlogodef.png' %}" width="45" height="45" alt="">
          </a>
          <a href="https://es-la.facebook.com/" class="bi bi-facebook" target="_blank">
            <img src="{% static 'img/Redes_Sociales/Facebook_logo_(square).png' %}" width="45" height="45" alt="">
          </a>
          <a href="https://twitter.com/?lang=es" class="bi bi-twitter" target="_blank">
            <img src="{% static 'img/Redes_Sociales/twitter-logo-4.png' %}" width="45" height="45" alt="">
          </a>
          <a href="https://www.youtube.com/" class="bi bi-youtube" target="_blank">
            <img src="{% static 'img/Redes_Sociales/Youtube_logo.png' %}" width="45" height="45" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="grupo2">
      <small>&copy; 2023 <b>CINEMAC</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>