{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/opciones_usuarios.css' %}">
    <title>Administración usuario</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'usuarios_totales' %}">Todos los usuarios</a></li>
            <li><a href="{% url 'crear_usuario' %}">Crear usuario</a></li>
            <li><a href="{% url 'opciones_usuarios' %}">Opciones para los usuarios</a></li>
            <li><a href="{% url 'panel_administracion' %}">Panel de administración</a></li>
        </ul>
    </nav>
    <h1>Panel de Administración de administradores</h1>
    <div id="idMensaje">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <table>
        {% if usuario %}
        <th>ID</th>
        <th>CORREO</th>
        <th>CONTRASEÑA</th>
        <th>MODIFICAR</th>
        <th>ELIMINAR</th>
        {% for user in usuario %}
            <tr>
                <td>{{user.id_usuario}}</td>
                <td>{{user.correo_usuario}}</td>
                <td>{{user.contrasena_usuario}}</td>
                <td><a href="{% url 'encontrar_usuario' pk=user.id_usuario %}"class="btm-Modificar">Modificar</a></td>
                <td><a href="{% url 'eliminar_usuario'  pk=user.id_usuario %}"class="btm-Eliminar">Eliminar</a></td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>
</html>