{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/usuarios_totales.css' %}">
    <title>Total de usuarios</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'usuarios_totales' %}" style="text-decoration: none;">Todos los usuarios</a></li>
            <li><a href="{% url 'crear_usuario' %}" style="text-decoration: none;">Crear usuario</a></li>
            <li><a href="{% url 'opciones_usuarios' %}" style="text-decoration: none;">Opciones para los usuarios</a></li>
            <li class="right-corner" style="margin-left: auto;"><a href="{% url 'panel_administracion' %}" style="text-decoration: none;">Volver</a></li>
        </ul>
    </nav>
    <h1>Total de usuarios</h1>
    {% for user in usuario %}
    <div class="admin-box">
        <p><strong>ID:</strong> {{ user.id_usuario }}</p>
        <p><strong>Correo del usuario:</strong> {{ user.correo_usuario }}</p>
        <p><strong>Contraseña:</strong> {{ user.contrasena_usuario }}</p>
    </div>
    {% endfor %}
</body>